################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ShoppingCart/FileContentIndex
/.vs/ShoppingCart/v17
