@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Software Zone";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ShoppingCart.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Login" asp-action="Index">Software Zone</a>
                @* <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> *@
                
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Software" asp-action="Index">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Software" asp-action="Reviews">Reviews</a>
                        </li>
                        @if (HttpContextAccessor.HttpContext?.Session.GetString("username") != null)
                        {
                            <li class="nav-item">
                                <span class="text-dark nav-link" asp-area="" id="usernameTag">Welcome @ViewData["username"]!</span>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/Purchase/PastPurchase">My Purchases</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/login/logout">Log out</a>
                            </li>
                        }
                        else if (HttpContextAccessor.HttpContext?.Request.Path != "/login/")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/Login/">Log in</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ShoppingCart - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        window.onload = function () {

            // Login logic
            if (window.location.href.includes("/login")) {
                const loginEl = document.getElementById("login-form");

                if (loginEl != null && loginEl.onsubmit == null) {
                    //loginEl.onsubmit = function (event) {
                    //event.preventDefault();
                    //console.log(`Event response: ${event.responseText}`);
                    //var xhr = new XMLHttpRequest();
                    //xhr.open("POST", "/Login/Login");
                    //xhr.setRequestHeader("content-type", "application/json; charset=utf-8");
                    //xhr.onreadystatechange = function () {
                    //    if (this.readyState == XMLHttpRequest.DONE) {
                    //        if (this.status != 200) {
                    //            logioresult.innerHTML = "Log in failed.";
                    //            return;
                    //        }
                    //        let data = JSON.parse(this.responseText);
                    //        console.log(`data ${data.result}`);
                    //        logioresult.innerHTML = data.result;
                    //        return;
                    //    }
                    //}
                    //let data = {
                    //    "username": event.target.username.value,
                    //    "password": event.target.password.value
                    //};

                    //xhr.send(JSON.stringify(data));

                    //}
                }
            } else {
                const usernameTag = document.getElementById("usernameTag");
                logoutDiv.style.display = "block";
            }

        }
    </script>
</body>
</html>
